<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title"><%= title %></h4>
      </div>
      <%= form_for @expense, remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :type_id %><br>
            <%= f.select :type_id, options_from_collection_for_select(Type.all, "id", "name", params[:type_id]), class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :date %>
            <%= f.date_field :date, id: :expense_date, class: "form-control"  %>
          </div>
          <div class="form-group">
            <%= f.label :concept %>
            <%= f.text_field :concept, id: :expense_concept, class: "form-control"  %>
          </div>
          <div class="form">
            <%= f.label :category_id %>
            <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name", params[:category_id]), class: "form-control" %>

          </div>
          <div class="form-group">
            <%= f.label :amount %>
            <%= f.number_field :amount, id: :expense_amount, class: "form-control"  %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Cerrar">Cancel</button>
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
