<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <li class="list-group-item active" id="">All</li>
        <li class="list-group-item" id="1">Purchase</li>
        <li class="list-group-item" id="2">Withdrawal</li>
        <li class="list-group-item" id="3">Transfer</li>
        <li class="list-group-item" id="4">Payment</li>
      </div>

      <h4 class="filter-header">Categoría <span>Choose to filter</span></h4>
      <div class="list-group filter-category">
        <li class="list-group-item active" id="">All</li>
        <li class="list-group-item" id="1">Restaurants</li>
        <li class="list-group-item" id="2">Gocery</li>
        <li class="list-group-item" id="3">Car</li>
        <li class="list-group-item" id="4">Services</li>
        <li class="list-group-item" id="5">Home</li>
        <li class="list-group-item" id="6">Education</li>
        <li class="list-group-item" id="7">Fun</li>
        <li class="list-group-item" id="8">Travel</li>
      </div>
    </div>

    <div class="col-md-9 index-data" >
      <div class="row" style="margin-top: 10px;" id="index-values">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%=@expenses.sum(:amount)%></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%=@expenses.count %></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%=@expenses.average(:amount)%></div>
          <div class="summary-label">Average</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
        <%= link_to '<span class="glyphicon glyphicon-plus"></span> New Expense'.html_safe, new_expense_path, remote: true, class: "btn btn-success" %>
          <h4 class="dropdown pull-right">
            <!-- <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">April 2016 <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a href="#">April 2016</a></li>
              <li role="presentation"><a href="#">March 2016</a></li>
            </ul> -->
            <%= select_month(Date.today, field_name: 'start', prefix: 'timer') %>

          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
          <tr>
            <td class="date">
              <div class="day"><%=expense.date.strftime("%d")%></div>
              <div class="month"><%=expense.date.strftime("%B")%></div>
            </td>
            <td>
              <div>
                <span class="type"><%=expense.type.name%></span>
              </div>
              <div>
                <span class="concept"><%=expense.concept%></span>
              </div>
            </td>
            <td class="category text-right"><%=expense.category.name%></td>
            <td class="text-right" style="width: 170px;">
              <div class="amount"><%=expense.amount%></div>
              <div class="actions">
                <%= link_to "<span class='glyphicon glyphicon-edit'></span>Edit".html_safe, edit_expense_path(expense), remote: true%>
                <%= link_to "<span class='glyphicon glyphicon-trash'></span>Eliminar".html_safe, expense, method: :delete, data: { confirm: "Are you sure to delete this expense?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
